tiny_slimpajama/data-00000-of-00001.arrow filter=lfs diff=lfs merge=lfs -text
reference_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
slm_target_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
